<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
  <b>Content:</b>
  <%= @snippet.content %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) if @is_admin %> |
<%= link_to 'Back', snippets_path %>
